
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  border: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #02031a;
  background-image: url('../../cackrack-bot/public/cyber-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 50px;
  background: white;
}

nav a {
  text-decoration: none;
}

nav h2 {
  color: blue;
}

nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  padding-right: 35px;
  align-items: center;
}

ul li a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}

ul li a:hover {
  color: blue;
}

.hero-h1 {
  font-family: "Baskervville SC", serif;
  text-align: center;
  line-height: 8rem;
  margin-inline: 35px;
  margin-top: 3rem;
  letter-spacing: 18px;
  color: rgb(158, 158, 171);
}

.hero-pgh {
  font-size: 34px;
  text-align: center;
  line-height: 5rem;
  margin-inline: 55px;
  letter-spacing: 1px;
  
  margin-top: 0;
  font-family: "Vollkorn", serif;
}

.services-section {
  background: rgb(228, 232, 255);
}

.services-section h2 {
  color: rgb(158, 158, 171);
  text-align: center;
  font-family: "Vollkorn", serif;
}

.services-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-inline: 35px;
}

.service-box {
  padding-inline: 25px;
}

.service-h2 {
  color: black;
}

.service-pgh {
  color: grey;
  text-align: justify;
}

.summary {
  font-family: "Baskervville SC", serif;
  text-align: center;
  margin-inline: 35px;
  letter-spacing: 5px;
}

.jjj {
  background-color: rgba(1, 21, 60, 0.705);
}

.footer {
  background: rgb(1, 18, 49);
  display: flex;
  gap: 5rem;
  justify-content: space-between;
}

.footer h2 {
  margin-left: 35px;
  color: white;
  text-decoration: none;
}

.footer a {
  text-decoration: none;
}

.footer div {
  margin-right: 15%;
  justify-content: center;
}

.footer div ul {
  list-style: none;
  display: grid;
  gap: 20px;
}