
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  border: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #02031a;
  background-image: url('../../cackrack-bot/public/cyber-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 50px;
  background: white;
}

@media all and (max-width: 780px) {
  nav {
    position: fixed;
    width: 100%;
    padding-inline: 10px;
  }
}

#hamburger, #toggle-close {
  display: none;
  width: max-content;
  height: max-content;
  background: none;
  border: none;
}

#hamburger:hover {
  cursor: pointer;
}

#toggle-close:hover {
  cursor: pointer;
}

@media all and (max-width: 780px) {
  #hamburger {
      display: block;
      position: fixed;
      z-index: 999;
      right: 20px;
      top: 20px;
  }
  #toggle-close {
      display: none;
      position: fixed;
      z-index: 999;
      right: 10px;
      top: 20px;
  }

  .show-hamburger {
    display: block;
    
  }

  .hide-hamburger {
    display: none;
  }

  .show-close {
    display: block;
  }

  .hide-close {
    display: none;
  }
}

nav div {
  display: flex;
  align-items: end;
}

nav div img {
  
}

nav a {
  text-decoration: none;
}

@media all and (max-width: 780px) {
  nav a {
    
  }
}

nav h2 {
  color: blue;
}

nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  padding-right: 35px;
  align-items: center;
}

@media all and (max-width: 780px) {
  nav ul {
    display: none;
    gap: 20px;
    padding-right: 0px;
  }

  .showNav {
    display: flex;
  }
}

ul li a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}

ul li a:hover {
  color: blue;
}

.hero-h1 {
  font-family: "Baskervville SC", serif;
  text-align: center;
  line-height: 8rem;
  margin-inline: 35px;
  margin-top: 3rem;
  letter-spacing: 18px;
  color: rgb(158, 158, 171);
}

@media all and (max-width: 780px) {
   .hero-h1 {
      font-size: 20px;
      line-height: 4rem;
      margin-top: 20%;
  }
}

.hero-pgh {
  font-size: 34px;
  text-align: center;
  line-height: 5rem;
  margin-inline: 55px;
  letter-spacing: 1px;
  margin-top: 0;
  font-family: "Vollkorn", serif;
}

@media all and (max-width: 780px) {
  .hero-pgh{
    font-size: 18px;
    line-height: 2.5rem;
    letter-spacing: 2px;
  }
}


.services-section {
  background: rgb(228, 232, 255);
}

.services-section h2 {
  color: rgb(158, 158, 171);
  text-align: center;
  font-family: "Vollkorn", serif;
}

@media all and (max-width: 780px) {
 .services-section h2 {
    font-size: 20px;
  }
}


.services-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-inline: 35px;
}

@media all and (max-width: 780px) {
  .services-wrapper {
    display: grid;
    grid-template-columns: 100%;
    margin-inline: 10px;
  }
}


.service-box {
  padding-inline: 25px;
}

.service-h2 {
  color: white;
  text-align: center;
  background-color: rgba(10, 2, 47, 0.912);
  padding-inline: 20px;
  padding-block: 15px;
  border-radius: 100vh;
}

@media all and (max-width: 780px) {
 .service-h2 {
    font-size: 16px;
    text-align: center;
  }
}


.service-pgh {
  color: grey;
  text-align: justify;
}

@media all and (max-width: 780px) {
  .service-pgh {
    text-align: justify;
    font-size: 16px;
  }
}


.summary {
  font-family: "Baskervville SC", serif;
  text-align: center;
  margin-inline: 35px;
  letter-spacing: 2px;
}

@media all and (max-width: 780px) {
  .summary{
    margin-inline: 10px;
    letter-spacing: 2px;
    font-size: 18px;
  }
}


.jjj {
  background-color: rgba(1, 21, 60, 0.705);
}

.footer {
  background: rgb(1, 18, 49);
  display: flex;
  gap: 5rem;
  justify-content: space-between;
}

@media all and (max-width: 780px) {
 .footer {
    display: grid;
    gap: 0.1rem;
    justify-content: center;
  }
}


.footer h2 {
  margin-left: 35px;
  color: white;
  text-decoration: none;
  font-weight: 900;
}

@media all and (max-width: 780px) {
  .footer h2{
    margin-left: 0;
  }
}


.footer a {
  text-decoration: none;
}

.footer div {
  margin-right: 15%;
  justify-content: center;
}

@media all and (max-width: 780px) {
  .footer div {
    margin-right: 0;
  }
}


.footer div ul {
  list-style: none;
  display: grid;
  gap: 20px;
}

.footer div ul li a {
  display: flex;
  gap: 30px;
  color: grey;
}